*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
/******************************

about section
******************************/
.about-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.about-section .about {
    background-image: url("/home/aslim/interhub/images/IMG_3831.JPEG");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 55%;
    object-fit: cover;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.about-section .about .inner-section{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
}

.about-section .about .inner-section h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.about-section .about .inner-section text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;

}

@media screen and (max-width:1200px) {
    .about-section .about .inner-section {
        padding: 80px;
    }
    
}
@media screen and (max-width:1000px) {
    .about-section .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .about-section .about .inner-section{
        width: 100%;
    }
    
}

@media screen and (max-width:600px) {
    .about-section .about{
        padding: 0;
    }
    .about-section .about .inner-section{
        padding: 60px;
    }
    
}



/****************

more ingo 
****************/
.more-info {

    padding-top: 50px ;
}


.info-items{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    padding: 50px 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    
}
.info-items i{
    font-size: 30px;
    margin: 0;
}
.info-items h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.info-items hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    border: none;
    margin: 0 auto;
}

.info-items p{
    margin-top: 20px;
}
.info-items:hover{
    background-color: #5fbff9;
}

.info-items:hover i,
.info-items:hover h3,
.info-items:hover p{
    color: #fff;
}
.info-items:hover hr{
    background-color: #fff;

}

/**********************************

team section 
**********************************/



.team {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #daf3ed;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team .team-header{
    display: flex;
    background: #f2f3f7;
    margin: 0;
}

.team .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}
.team .container .card{
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6EM 0.6em 1.2em #d2dce9,
                -0.5em -0.5em 1em #ffffff;
    border-radius: 20px;

}
.team .container .card .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.team .container .card .content .image {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.team .container .card .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .container .card .content .contentBx h4{
    color: #36187d;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}


.team .container .card .content .contentBx h5{
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;


}

.team .container .card .content .icon{
    margin: 20px;

}
.team .container .card .content .icon a{
    color: #6c758f;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    transition: color 0.4s;

}

.team .container .card .content .icon a:hover{
    color: #0196e3;

}

/*******************************

Our Partners

*******************************/
.partner {
    font-family: Roboto, sans-serif;
    
}

.partner img {
    width: 100%;
}
.partner .container{
    max-width: 1040px;
    margin: 0 auto;
}
.partner h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    padding-top: 30px;

}
.partner h1:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #5fbff9;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.partner .logo-slider .item{
    background-color: #fff;
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    border: 3px sloid #111;
} 
.partner .logo-slider .slick-slide{
    margin: 15px;
}
.partner .slick-dot li.slick-active button::before{
    font-size: 12px;
}
.partner .slick-next::before,
.partner .slick-prev:before{
    color: #5fbff9;
    font-size: 24px;
}

.partner .item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}

/*************************************

testimonials

***************************************/

.testimonial{
    min-height: 500px;
    background-color: #000000;
    float: left;
    width: 100%;
    padding: 100px 15px   ;
}
.testimonial .container {
    max-width: 1170px;
    margin: auto;
    
}
.testimonial .title{
    margin-bottom: 50px;
}
.testimonial .title h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 35px;
    margin: 0;
}
.testimonial .slider{
    border: 1px solid #333333;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.testimonial .slider .slide{
    display: none;

}
.testimonial .slider .slide.active{
    display: block;
    animation: slide 1s ease;
}
@keyframes slide{
    0%{
        opacity: 0;
        transform: translateX(-15px);
    }
    

    100%{
        opacity: 1;
        transform: translateX(0px)
        
    }
}
.testimonial .slider p{
    font-size: 19px;
    color: #ffffff;
    word-spacing: 2px;
    padding-top: 30px;
}
.testimonial .slider .client-info h3 {
    font-weight: bold;
    color: #fff;
    font-size: 18px;
}
.testimonial .slider .client-info span{
    display: block;
    font-size: 17px;
    color: #5fbff9;

}
.testimonial .slider-indicator{
    text-align: center;
    padding-top: 40px;

}

.testimonial .slider-indicator img{
    max-width: 90px;
    max-height: 90px;
    object-fit: cover;
    border-radius: 60px;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.2;
    border: 4px solid #fff;
    cursor: pointer;
    transition: opacity 1s;
}
.testimonial .slider-indicator img.active{
    opacity: 1;
}
