*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
/***********************
# sub-header

***********************/

.sub-header{
    background-color: whitesmoke;
    height: 46px;
    line-height: 46px;
}
.sub-header ul li {
    display: inline-block;
}
.sub-header ul.left-info li{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 20px;
    
}
.sub-header ul.left-info li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.left-info li i{
    margin-right: 12px;
    font-size: 12px;
}
.sub-header ul.left-info li a{
    color: black;
    font-size: 12px;  
    font-weight: 800;
}
.sub-header ul.right-icon{
    float: right;
}
.sub-header ul.right-icon li{
    margin-right: -4px;
    width: 46px;
    display: inline-block;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.right-icon li:last-child{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    
}
.sub-header ul.right-icon li a{
    color: black;
    transition: all 0.3s;

}
/* navbar logo*/
.navbar .navbar-brand img{
    width:50px;
    height:50px;
}
.navbar-nav .nav-item{
    padding-left: 22px;
    color: black;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navbar-light .navbar-nav .nav-link{
    color:black;
}

/***************************
slider section

***************************
#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: no-repeat;

}


**/

.carousel-item{
    height:650px;
    min-height: 400px;
   
    background-size: cover;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon{
    
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: black;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon:hover{
    
     width: 110px;
    height: 110px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    
}

/*****************************
Info section

*****************************/

.info-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info-section .left-section{
    padding-right: 20px;
}
.info-section .left-section p{
    text-align: justify;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 18px;
}

.info-section .left-section{
    align-items: center;
}

.info-section .right-section{
    align-items: center;
    margin: auto;
    
}
.info-section .right-section a img{
    width: 400px;
    height:400px;
    object-fit: cover;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}
info-section .right-section a img:hover{
    width: 420px;
    height:420px;
    object-fit: cover;
    padding-left: 10px;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}

