*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}

.padd-15{
    padding-top: 40px;
}
/***********************
# sub-header

***********************/

.sub-header{
    background-color: whitesmoke;
    height: 46px;
    line-height: 46px;
}
.sub-header ul li {
    display: inline-block;
}
.sub-header ul.left-info li{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 20px;
    
}
.sub-header ul.left-info li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.left-info li i{
    margin-right: 12px;
    font-size: 12px;
}
.sub-header ul.left-info li a{
    color: black;
    font-size: 12px;  
    font-weight: 800;
}
.sub-header ul.right-icon{
    float: right;
}
.sub-header ul.right-icon li{
    margin-right: -4px;
    width: 46px;
    display: inline-block;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.right-icon li:last-child{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    
}
.sub-header ul.right-icon li a{
    color: black;
    transition: all 0.3s;

}
/* navbar logo*/
.navbar .navbar-brand img{
    width:50px;
    height:50px;
}
.navbar-nav .nav-item{
    padding-left: 22px;
    color: black;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navbar-light .navbar-nav .nav-link{
    color:black;
}

/***************************
slider section

***************************
#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: no-repeat;

}
#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: no-repeat;

}


**/

.carousel-item{
    height:650px;
    min-height: 400px;
   
    background-size: cover;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon{
    
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: black;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon:hover{
    
     width: 110px;
    height: 110px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    
}

/*****************************
Info section

*****************************/

.info-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info-section .left-section{
    padding-right: 20px;
}
.info-section .left-section p{
    text-align: justify;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 18px;
}

.info-section .left-section{
    align-items: center;
}

.info-section .right-section{
    align-items: center;
    margin: auto;
    
}
.info-section .right-section a img{
    width: 400px;
    height:400px;
    object-fit: cover;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}

/**********************
Learning Section

**********************/
.learns {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.learns .container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.learns .container .card {
    position: relative;
    max-width: 300px;
    height: 214px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}
.learns .container .card:hover{
    height: 520px;
}
.learns .container .card .imageBox {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.3) ;

}
.learns .container .card .imageBox img{
    width: 230px;
    height: 230px;
    border-radius: 4px;
    object-fit: cover;

}
.learns .container .card .content{
    position: relative;
    margin-top:-140px ;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.learns .container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
    transition-delay: 0.3s;
}

/*******************************

Our Partners

*******************************/
.partner {
    font-family: Roboto, sans-serif;
    
}

.partner img {
    width: 100%;
}
.partner .container{
    max-width: 1040px;
    margin: 0 auto;
}
.partner h1{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    position: relative;
    margin-bottom: 60px;
    padding-top: 30px;

}
.partner h1:after{
    content: '';
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #5fbff9;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.partner .logo-slider .item{
    background-color: #fff;
    box-shadow: 0 4px 5px #cacaca;
    border-radius: 8px;
    padding: 15px;
    border: 3px sloid #111;
} 
.partner .logo-slider .slick-slide{
    margin: 15px;
}
.partner .slick-dot li.slick-active button::before{
    font-size: 12px;
}
.partner .slick-next::before,
.partner .slick-prev:before{
    color: #5fbff9;
    font-size: 24px;
}

.partner .item:hover{
    display: block;
    transition: all ease 0.3s;
    transform: scale(1.1) translateY(-5px);
}

/**********************************



Facilities


***********************************/

.facilities {
   
    color: white;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("/home/aslim/interhub/images/black-bg.jpeg");
    object-fit: cover;

}
.facilities .container{
    width: 90%;
    margin: 0 auto;
      
}

.facilities .container > h1, .facilities .container .title {
    font-family: tahoma;
    font-weight: 300 !important;
    letter-spacing: 1px;
}
.facilities .container > h1, .facilities .container > p{
    text-align: center;

}

.facilities .container .services{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

.facilities .container .services .service{
    margin: 10px;
    overflow: hidden;
    padding: 35px 15px;
    position: relative;
    text-align: center;
    transition: background-color 0.3s ease-in,
                transform 0.3s ease-in;
    width: 300px;

}
.facilities .container .services .service:hover{

    transform: translateY(-3px);
}

.facilities .container .services .service:before{
    content: '';
    border-width: 20px;
    border-style: solid;
    border-color:#5fbff9 #5fbff9 rgba(1, 1, 1, 0.4) rgba(0, 0, 0, 0.4);
    position: absolute;
    right: -40px;
    top: -40px;
    transition: right 0.3s ease-out,
                top 0.3s ease-out;

}
.facilities .container .services .service:hover::before{
    right: 0;
    top: 0;
}

.facilities .container .services .service > i{
    display: block;
    color: #5fbff9;
    font-size: 3rem;
    margin-bottom: 0.9rem;
    transition: color 0.3s ease-out;

}
.facilities .container .services .service > .title{
    font-weight: 900;
    text-transform: capitalize;
    font-size: 1.2rem;
    line-height: 1.55rem;
    margin-bottom: 1rem;
    transition: color 0.3 ease-out;
}

.facilities .container .services .service > .description{
    line-height: 1.55rem;
    margin: 0;
    transition: color 0.3s ease-out;
}
.facilities .container .services .service:hover > i,
.facilities .container .services .service:hover > .title,
.facilities .container .services .service:hover > .description {
    color: whitesmoke;
}

/*****************************

testimonial 

***************************/

.testimonial-section {
    background: #f1f1f1;
    padding: 80px 0;
    text-align: center;
}

.testimonial-section .inner-width{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}
.testimonial-section h1{
    font-weight: 400;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.testimonial-section .testimonial-img{
    padding: 40px 0;
}  
.testimonial-section .testimonial-img img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    object-fit: cover;
    margin: 0 20px;
    filter: grayscale(100%);
    transition: 0.3s;
    cursor: pointer;
}

.testimonial-section .testimonial-img img:hover, .testimonial-img img.active{
    filter: none;
}
.testimonial-section .testimonial-contents{
    max-width: 600px;
    margin: auto;
}
.testimonial-section  .testimonial{
    display: none;
}

.testimonial-section  .testimonial.active{
    display: block;
}

.testimonial-section  .testimonial p{
    color: #5c5c5c;
    margin-bottom: 30px;
}
.testimonial-section  .testimonial .description{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
}




