*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
/***********************
# sub-header

***********************/

.sub-header{
    background-color: whitesmoke;
    height: 46px;
    line-height: 46px;
}
.sub-header ul li {
    display: inline-block;
}
.sub-header ul.left-info li{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding: 0px 20px;
    
}
.sub-header ul.left-info li:last-child{
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.left-info li i{
    margin-right: 12px;
    font-size: 12px;
}
.sub-header ul.left-info li a{
    color: black;
    font-size: 12px;  
    font-weight: 800;
}
.sub-header ul.right-icon{
    float: right;
}
.sub-header ul.right-icon li{
    margin-right: -4px;
    width: 46px;
    display: inline-block;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-header ul.right-icon li:last-child{
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    
}
.sub-header ul.right-icon li a{
    color: black;
    transition: all 0.3s;

}
/* navbar logo*/
.navbar .navbar-brand img{
    width:50px;
    height:50px;
}
.navbar-nav .nav-item{
    padding-left: 22px;
    color: black;
}
.navbar-nav a{
    font-family: poppins;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navbar-light .navbar-nav .nav-link{
    color:black;
}

/***************************
slider section

***************************
#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: no-repeat;

}
#carouselExampleIndicators .carousel-inner .carousel-item img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background: no-repeat;

}


**/

.carousel-item{
    height:650px;
    min-height: 400px;
   
    background-size: cover;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon{
    
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: black;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon:hover{
    
     width: 110px;
    height: 110px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    
}

/*****************************
Info section

*****************************/

.info-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info-section .left-section{
    padding-right: 20px;
}
.info-section .left-section p{
    text-align: justify;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 18px;
}

.info-section .left-section{
    align-items: center;
}

.info-section .right-section{
    align-items: center;
    margin: auto;
    
}
.info-section .right-section a img{
    width: 400px;
    height:400px;
    object-fit: cover;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}
.info-section .right-section a img:hover{
    width: 420px;
    height:420px;
    object-fit: cover;
    padding-left: 10px;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}

/**********************
Learning Section

**********************/
.head_part{
    text-align: center;
}
.course_categories{
    display:inline-block;
    width:100%;
    padding:80px 0 50px;
    margin:0 auto
}
    .course_categories h2,.course_categories p{
        color:black;
        text-align: center;
    }
    .tab-content>.tab-pane{
        margin:0 auto;
        width:100%
    }
    .nav_tabs_wrap{
        padding:0;
        
        
    }.nav-tabs{
        display:inline-block;
        width:100%;
        border:none;
        
    }

        .nav-tabs>li{
        padding:0;
        padding-left: 70px;
        color:#fff;
        font-weight:600;
        text-transform:uppercase;
        margin:0 30px 30px 0;
        vertical-align:middle;
        border:7px solid transparent;
        text-align:center
        }
        .tab-content>.tab-pane{

             margin:0 auto;width:100%;
             
             }.nav_tabs_wrap{
                  padding:0
                }
                   .nav-tabs{
                    display:inline-block;
                    width:100%;border:none
                }
                .nav-tabs>li{
                    padding:0;
                    color:#fff;
                    font-weight:600;
                    text-transform:uppercase;
                    margin:0 30px 30px 0;
                    vertical-align:middle;
                    border:7px solid transparent;
                    text-align:center}
                    .nav-tabs>li,.nav-tabs>li>a .nav_tab_inner i,.nav-tabs>li>a .nav_tab_inner span{
                        transition:all .3s ease 0s;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s
                    }nav_tab_inner img{
                        width: 10px;
                        height: 10px;
                    }
                    .nav-tabs>li>a
                    {padding:30px 10px 20px;
                        color:#fff;
                        font-weight:700;
                        display:block;
                        border:none;
                        width:145px;
                        height:145px
                    }
                    .nav-tabs>li>a .nav_tab_inner{
                        display:inline-block;
                        width:100%
                    }
                        .nav-tabs>li>a .nav_tab_inner i{
                        color:#fff;font-size:35px;height:35px;line-height:35px;text-align:left;width:30px
                    }   .nav-tabs>li>a .nav_tab_inner span
                    {
                            display:block;margin-top:15px;font-size:15px;letter-spacing:1px;line-height:20px;font-weight:700;text-transform:uppercase}
                            .nav-tabs>li.edu{background-color:#ffbf43;border-color:#ffbf43}
                            .nav-tabs>li.sci{background-color:#96ca4a;border-color:#96ca4a}
                            .nav-tabs>li.hel{background-color:#e91e63;border-color:#e91e63}
                            .nav-tabs>li.bus{background-color:#45aef4;border-color:#45aef4}
                            .nav-tabs>li.art{background-color:#f1594f;border-color:#f1594f}
                            .nav-tabs>li.foo{background-color:#00bfa5;border-color:#00bfa5}
                  p{
                    font-size: 15px;
                  }     
                       

**/

.carousel-item{
    height:650px;
    min-height: 400px;
   
    background-size: cover;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon{
    
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: black;
    
}

.carousel-inner .carousel-item .carousel-caption .button-icon:hover{
    
     width: 110px;
    height: 110px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    
}

/*****************************
Info section

*****************************/

.info-section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.info-section .left-section{
    padding-right: 20px;
}
.info-section .left-section p{
    text-align: justify;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 18px;
}

.info-section .left-section{
    align-items: center;
}

.info-section .right-section{
    align-items: center;
    margin: auto;
    
}
.info-section .right-section a img{
    width: 400px;
    height:400px;
    object-fit: cover;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}
info-section .right-section a img:hover{
    width: 420px;
    height:420px;
    object-fit: cover;
    padding-left: 10px;
    padding-left: 40px;
    border-radius: 30% 50%;
    
}

